

body{
      margin: 0;
      padding: 0;
      background: url("../../image/background.jpg");
      background-size: cover;
  }
.box-left{
      margin-left: 5%;
      width: 30%;
      float: left;
      height: -webkit-fill-available;
      background: rgba(0, 0, 0, 0.4);
      text-align: center;
      color: white;
      font-family: 'Prata',sans-serif;
}
.box-img{
      margin-top: 15px;
      border-radius: 50%;
      width: 200px;
      height: 200px;
}
.box-left h1{
      font-size: 25px;
      letter-spacing: 0px;
      font-weight: 100;
  }
.dob {
      text-decoration: overline underline;
  }
ul{
      margin: 0;
      padding: 0;
  }

.box-right{
      margin-right: 5%;
      width: 60%;
      height: -webkit-fill-available;
      float: right;
      color: white;
      background: rgba(0, 0, 0, 0.2);
}
.wrapper{
      padding: 2em;
}
.title1{
      font-weight: bold;
      font-size: 50px;
}
.info{
      font-size: 32px;
      line-height: 50px;
      font-family: Arial, Helvetica, sans-serif;
}
.button{
      padding: 55px;
      margin: 50px;
      text-align: center;
      font-size: 32px;
      font-weight: bold;
}